
@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="font-family: Arial; border: 1px solid black; margin-left: 20px">Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hen</h2>
<p style="font-family: Arial">
    @Html.ActionLink("VỀ TRANG CHỦ", "Index", "MobileStore")
   
</p>